/*HEADER SECTION STYLES*/

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F2937;
    height: 80px;
}

.nav-logo-container {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.nav-logo-img {
    max-width: 100%;
}

.nav-links {
    display: flex;
    gap: 8px;
}

.nav-link {
    padding: 5px 10px;
}

.nav-link a {
    font-size: 18px;
    color: #E5E7EB;
}

/*HERO SECTION STYLES*/

.hero {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
}

.hero-content {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content .signup-button {
    border: none;
}


.hero-media-container {
    width: 350px;
    display: flex;
    align-items: center;
}

.hero-media {
    max-width: 100%;
}

/*INFORMATION SECTION STYLES*/

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 25px;
}

.info-grid {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.info-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
    height: 200px;
}

.info-img-container {
    flex: 1;
    width: 75px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
}

.info-img {
    max-width: 100%;
}

/*TESTIMONIALS SECTION STYLES*/

.testimonials {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.testimonial {
    padding: 50px;
}

.testimonial-quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.testimonial-author {
    font-size: 27px;
    font-weight: 900;
    text-align: right;
}

/*CTA SECTION STYLES*/

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882F6;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.cta-content {
    color: #F9FAF8;
}

/*GLOBAL STYLES*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,
p {
    margin-bottom: 10px;
}

header,
section {
    min-width: 700px;
    padding-left: 150px;
    padding-right: 150px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

cite {
    font-style: normal;
}

.signup-button {
    padding: 8px 25px;
    border-radius: 5px;
    border: 1px solid;
    color: #E5E7EB;
    background-color: #3882F6;
    cursor: pointer;
}