body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    height: 80px;
    box-sizing: border-box;
    margin: 0;
    padding: 0 50px;

}

.nav-logo-container {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-img {
    max-width: 100%;
}

.nav-links {
    display: flex;
    gap: 8px;
}

.nav-link {
    padding: 5px 10px;
}

.nav-link a {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

